<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #222;">
  <a class="navbar-brand" href="/blog.html">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="34px" height="34px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
    viewBox="0 0 200 200"
     xmlns:xlink="http://www.w3.org/1999/xlink">
     <g id="logo">
      <metadata id="layer"/>
      <path class="fil0" d="M48 87c6,-23 27,-39 52,-39 24,0 44,15 51,36l35 -9c-11,-37 -45,-64 -86,-64 -50,0 -90,41 -90,91 0,19 6,37 16,52l22 -67zm50 33c-10,0 -18,-8 -18,-18 0,-10 8,-18 18,-18 10,0 18,8 18,18 0,10 -8,18 -18,18zm-31 25l-11 36c13,7 28,11 44,11 41,0 75,-27 86,-63l-35 -9c-7,21 -27,36 -51,36 -12,0 -24,-4 -33,-11z"/>
     </g>
    </svg>
  </a>
    <a class="navbar-brand" href="/blog.html">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">pcmaster.top</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog-test.html">Программирование</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Домашнее</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Электроника</a>
          </li>
        </ul>
    </div>
</nav>