<div class="container-fluid bl-white">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-8 col-lg-9 col-md-10 content">
        <h1 class="text-center">Контакты</h1>
        <hr class="hr">
            <div class="social row justify-content-center">
                <div class="tooltip">
                    <a href="https://vk.com/club125914181"><i class="fab fa-vk"></i></a>
                    <span class="tooltiptext"><a href="https://vk.com/club125914181">https://vk.com/club125914181</a></span>
                </div>
                <div class="tooltip">
                    <a href="https://ok.ru/group/54886129860608"><i class="fab fa-odnoklassniki-square"></i></a>
                    <span class="tooltiptext"><a href="https://ok.ru/group/54886129860608">https://ok.ru/group/54886129860608</a></span>
                </div>
                <div class="tooltip">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                    <span class="tooltiptext"><a href="https://www.facebook.com/">https://www.facebook.com/</a></span>
                </div>
                <div class="tooltip">
                    <a href="https://www.youtube.com/channel/UCFb3VMTOWpM_Ks6u9kcC-ow"><i class="fab fa-youtube-square"></i></a>
                    <span class="tooltiptext"><a href="https://www.youtube.com/channel/UCFb3VMTOWpM_Ks6u9kcC-ow">https://www.youtube.com/channel/UCFb3VMTOWpM_Ks6u9kcC-ow</a></span>
                </div>
                <div class="tooltip">
                    <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
                    <span class="tooltiptext"><a href="https://twitter.com/">https://twitter.com/</a></span>
                </div>
                <div class="tooltip">
                    <a href="https://github.com/yegorkowalew"><i class="fab fa-github-square"></i></a>
                    <span class="tooltiptext"><a href="https://github.com/yegorkowalew">https://github.com/yegorkowalew</a></span>
                </div>
                <div class="tooltip">
                    <a href="master@pcmaster.top"><i class="fas fa-envelope-square"></i></a>
                    <span class="tooltiptext"><a href="master@pcmaster.top">master@pcmaster.top</a></span>
                </div>
                <div class="tooltip">
                    <a href="0995444853"><i class="fas fa-phone-square"></i></a>
                    <span class="tooltiptext"><a href="0995444853">0995444853</a></span>
                </div>
                <div class="tooltip">
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <span class="tooltiptext"><a href="https://www.instagram.com/">https://www.instagram.com/</a></span>
                </div>
                <div class="tooltip">
                    <a href="https://www.patreon.com/"><i class="fab fa-patreon"></i></a>
                    <span class="tooltiptext"><a href="https://www.patreon.com/">https://www.patreon.com</a></span>
                </div>
                <div class="tooltip">
                    <a href="https://telegram.org/"><i class="fab fa-telegram"></i></a>
                    <span class="tooltiptext"><a href="https://telegram.org/">https://telegram.org</a></span>
                </div>
            </div>
        </div>
    </div>
</div>