<div class="container-fluid bl-white">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-8 col-lg-9 col-md-10 content">
        <h1 class="text-center">Контакты</h1>
        <hr class="hr">
            <div class="row justify-content-center">
                <div class="col cont-item">
                    <a href="https://vk.com/club125914181"><i class="ico-vk-square"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="https://ok.ru/group/54886129860608"><i class="ico-odnoklassniki-square"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="https://www.facebook.com/"><i class=" ico-facebook-square"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="https://www.youtube.com/channel/UCFb3VMTOWpM_Ks6u9kcC-ow"><i class="ico-youtube-square"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="https://twitter.com/"><i class="ico-twitter-square"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="https://github.com/yegorkowalew"><i class="ico-github-square"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="master@pcmaster.top"><i class="ico-mail-square"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="0995444853"><i class="ico-phone-square"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="https://www.instagram.com/"><i class="ico-instagram-square"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="https://www.patreon.com/"><i class="ico-patreon"></i></a>
                </div>
                <div class="col cont-item">
                    <a href="https://telegram.org/"><i class="ico-telegram-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>