<meta charset="UTF-8">

<!-- Useful meta tags -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Компьютерный сервис. Помощь в ремонте компьютеров, ноутбуков и планшетов в Карловке. Профилактика, диагностика, чистка Windows по телефону.">
<meta name="author" content="Игорь Коваленко">
<meta name="keywords" content="Консультации по компьютерам в Карловке, помощь в переустановке Windows, помощь в ремоне планшетов, помощь в ремоне ноутбуков, помощь по замене термопасты">
<link rel="icon" href="img/favicon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">

<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="fonts/all.css"> -->
<!-- <link rel="stylesheet" href="https://i.icomoon.io/public/temp/487d441811/pcmaster/style.css"> -->

<link href="css/main.min.css" rel="stylesheet" />

<title>Компьютерный сервис на любые деньги в городе Карловка.</title>