<div class="container-fluid bl-white">
    <div class="row justify-content-center">
      <div class="col">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-6 text-white galimg">
                  <a href="/services.html#laptop">
                    <picture>
                        <source class="card-img" srcset="img/gallery/1/notebook-1.webp" type="image/webp">
                        <img class="card-img" srcset="img/gallery/1/notebook-1.jpg" type="image/jpeg" alt="Чистка, настройка, ремонт ноутбуков.">
                    </picture>
                    <div class="card-img-overlay">
                      <h5 class="card-title">Ноутбуки</h5>
                      <p class="card-text">Чистка, настройка, ремонт ноутбуков.</p>
                    </div></a>
                  </div>
        
                  <div class="col-xl-4 col-md-4 col-sm-6 text-white galimg">
                    <a href="/services.html#computer">
                    <picture>
                        <source class="card-img" srcset="img/gallery/1/computer-1.webp" type="image/webp">
                        <img class="card-img" srcset="img/gallery/1/computer-1.jpg" type="image/jpeg" alt="Компьютеры">
                    </picture>
                    <div class="card-img-overlay">
                      <h5 class="card-title">Компьютеры</h5>
                      <p class="card-text">Чистка, настройка, диагностика, ремонт и сборка новых компьютеров.</p>
                    </div></a>
                  </div>
        
                  <div class="col-xl-4 col-md-4 col-sm-6 text-white galimg">
                    <a href="/services.html#tablet">
                    <picture>
                        <source class="card-img" srcset="img/gallery/1/tablet-1.webp" type="image/webp">
                        <img class="card-img" srcset="img/gallery/1/tablet-1.jpg" type="image/jpeg" alt="Планшеты">
                    </picture>
                    <div class="card-img-overlay">
                      <h5 class="card-title">Планшеты</h5>
                      <p class="card-text">Помогу с выбором, настрою, почищу планшет.</p>
                    </div></a>
                  </div>
        
                  <div class="col-xl-4 col-md-4 col-sm-6 text-white galimg">
                    <a href="/services.html#cash-register">
                    <picture>
                        <source class="card-img" srcset="img/gallery/1/kassa-1.webp" type="image/webp">
                        <img class="card-img" srcset="img/gallery/1/kassa-1.jpg" type="image/jpeg" alt="Кассовые аппараты">
                    </picture>
                    <div class="card-img-overlay">
                      <h5 class="card-title">Кассовые аппараты</h5>
                      <p class="card-text">Проконсультирую перед покупкой. Подключу, настрою, помогу с регистрацией в налоговой.</p>
                    </div></a>
                  </div>
        
                  <div class="col-xl-4 col-md-4 col-sm-6 text-white galimg">
                    <a href="/services.html#surveillance">
                    <picture>
                        <source class="card-img" srcset="img/gallery/1/video-1.webp" type="image/webp">
                        <img class="card-img" srcset="img/gallery/1/video-1.jpg" type="image/jpeg" alt="Видеонаблюдение">
                    </picture>
                    <div class="card-img-overlay">
                      <h5 class="card-title">Видеонаблюдение</h5>
                      <p class="card-text">Установлю систему видеонаблюдения, настрою, сделаю всё качественно!</p>
                    </div></a>
                  </div>
        
                  <div class="col-xl-4 col-md-4 col-sm-6 text-white galimg">
                    <a href="/services.html#operating-system">
                    <picture>
                        <source class="card-img" srcset="img/gallery/1/OS-3.webp" type="image/webp">
                        <img class="card-img" srcset="img/gallery/1/OS-3.jpg" type="image/jpeg" alt="Операционные системы">
                    </picture>
                    <div class="card-img-overlay">
                      <h5 class="card-title">Операционные системы</h5>
                      <p class="card-text">Профилактика, чистка от вирусов, переустановка Windows, Linux</p>
                    </div></a>
                  </div>
              </div>
        </div>
    </div>
</div>