<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <picture class="first-slide">
            <source srcset="img/headers/header-01.webp" type="image/webp">
            <img srcset="img/headers/header-01.jpg" type="image/jpeg" alt="First slide">
        </picture>

        <div class="container">
            <div class="carousel-caption">
            <h1 class="display-4">Компьютерная помощь для всех!</h1>
            <hr class="hr-red">
            <p>Бесплатная помощь по ремонту, настройке компьютеров, ноутбуков, планшетов и телефонов в Карловке.</p>
            <p><a class="btn btn-lg btn-primary" href="/support.html#help-for-everyone" role="button">Подробнее</a></p>
            </div>
        </div>
        </div>
        <div class="carousel-item">
        <picture class="second-slide">
                <source srcset="img/headers/header-02.webp" type="image/webp">
                <img srcset="img/headers/header-02.jpg" type="image/jpeg" alt="First slide">
        </picture>
        <div class="container">
            <div class="carousel-caption">
            <h1 class="display-4">Бесплатная помощь по телефону</h1>
            <hr class="hr-red">
            <p>Если у вас что-то случилось с Вашим устройством и не с кем посоветоваться - просто&nbsp;позвоните!</p>
            <p><a class="btn btn-lg btn-primary" href="/support.html#help-by-phone" role="button">Подробнее</a></p>
            </div>
        </div>
        </div>
        <div class="carousel-item">
        <picture class="third-slide">
                <source srcset="img/headers/header-03.webp" type="image/webp">
                <img srcset="img/headers/header-03.jpg" type="image/jpeg" alt="third-slide">
        </picture>
        <div class="container">
            <div class="carousel-caption">
            <h1 class="display-4">Удаленные консультации</h1>
            <hr class="hr-red">
            <p>В любое время, будь то днем или ночью, я проконсультирую Вас по любому вопросу на компьютерную тематику. Можем договориться о встрече или удаленной помощи.</p>
            <p><a class="btn btn-lg btn-primary" href="/support.html#remote-consultation" role="button">Подробнее</a></p>
            </div>
        </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
    </a>
</div>
      