$icomoon-font-family: "pcmaster" !default;
$icomoon-font-path: "/fonts" !default;

$ico-whatsapp-square: "\e900";
$ico-viber-square: "\e901";
$ico-telegram-square: "\e917";
$ico-vk-square: "\e918";
$ico-odnoklassniki-square: "\f264";
$ico-facebook-square: "\f082";
$ico-phone-square: "\f098";
$ico-youtube-square: "\f166";
$ico-github-square: "\f092";
$ico-twitter-square: "\f081";
$ico-patreon: "\e902";
$ico-mail-square: "\e91a";
$ico-instagram-square: "\e91b";
$ico-viber-round: "\e903";
$ico-whatsapp-round: "\e904";
$ico-dropbox: "\e905";
$ico-jquery: "\e906";
$ico-node-dot-js: "\e907";
$ico-vue-dot-js: "\e908";
$ico-csswizardry: "\e909";
$ico-microsoftword: "\e90a";
$ico-microsoftexcel: "\e90b";
$ico-python: "\e90c";
$ico-ubuntu: "\e90d";
$ico-mozillafirefox: "\e90e";
$ico-windows: "\e90f";
$ico-codepen: "\e910";
$ico-dribbble: "\e911";
$ico-linkedin: "\e912";
$ico-debian: "\e913";
$ico-django: "\e914";
$ico-skype: "\e915";
$ico-visualstudiocode: "\e916";
$ico-youtube: "\e919";
$ico-visa-onlyne: "\f1f0";
$ico-paypal-onlyne1: "\f1f4";
$ico-western-union-onlyne: "\e91c";
$ico-qiwi-onlyne: "\e91d";
$ico-money-box: "\e91f";
$ico-mastercard-onlyne: "\e920";
$ico-maestro-onlyne: "\e921";

