/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 220px;
    // position: relative;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 220px;
    // line-height: 100px; /* Vertically center the text there */
    background-color: #f5f5f5;
    color:#333;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  .footer > .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer p {
    margin-bottom: 0;
  }
  
  .footer span {
    font-weight: 600;
  }
  
  code {
    font-size: 80%;
  }

  /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
    // padding-top: 3rem;
    // padding-bottom: 3rem;
    color: #fff;
  }
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  /* Carousel base class */
  .carousel {
    margin-bottom: 0;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    top:30%;
  }
  
  /* Declare heights because of positioning of img element */
.carousel-item {
    height: 970px;
    background-color: #777;
}

.carousel-in {
    .carousel-item {
      height: 300px;
  }
  .carousel-caption {
    bottom: 3rem;
    top:16%;
  }
}

  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 970px;
  }
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  /* Featurettes
  ------------------------- */
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  .carousel-caption .display-4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgb(24, 24, 24);
    filter: drop-shadow(3px 3px 20px black);
  }

  .carousel-caption p {
    font-size: 2rem;
  }

.black {
  background-color: #5a5a5a;
  color: #f5f5f5;
}

.content {
  padding: 3rem 1rem;
  text-align: justify;
}

hr {
  max-width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bl-white {
  background-color:#fff;
  color:#333;
  hr {
    border-color: #222;
    border-top: 1px solid #222;
    border-width: 2px;
  }
}
.bl-black {
  background-color:#222;
  color:#fff;
  hr {
    border-color: #eee;
    border-top: 1px solid #eee;
    border-width: 2px;
  }
}

.bl-red {
  background-color: #F05F40;
  color:#fff;
  hr {
    border-color: #eee;
    border-top: 1px solid #eee;
    border-width: 2px;
  }
}

.hr-red {
  border-color: #F05F40;
  border-top: 1px solid #F05F40;
  border-width: 2px;
}

.navbar {
  background-color: #222;
}

.navbar-brand {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1599px) {
  /* CSS для ширины от 992px до 1199px */
  .carousel-caption .display-4 {
    font-size: 2.6rem;
  }
  .carousel-caption p {
    font-size: 1.4rem;
  }
  .container .row {
    padding-top: 50px;
  }
}

@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
  .carousel-caption .display-4 {
    font-size: 2.2rem;
  }
  .carousel-caption p {
    font-size: 1.4rem;
  }
  .container .row {
    padding-top: 40px;
  }
}

@media (max-width: 600px) {
  /* CSS для ширины от 992px до 1199px */
  .carousel-caption .display-4 {
    font-size: 1.3rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .container-fluid h1 {
    font-size: 1.6rem;
  }
  .container-fluid p {
    font-size: 1rem;
  }
}

@media (max-height: 720px) {
  .carousel-item {
    height: 720px;
  }
}

@media (orientation: portrait) {
  .carousel-item {
    height: 580px;
  }
  .container .row {
    padding-top: 5px;
  }
}

.galimg {
  padding: 0;
  background-color: #ee4b28;
  a {
    color: #fff;
    .card-title {
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgb(24, 24, 24);
      filter: drop-shadow(3px 3px 20px black);
    }
  }
}

.card-img {
  border-radius: 0;
}

.galimg a:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: rgba(238, 75, 40, 0.7);
 }

 .galimg a:hover:before {
  opacity: 1;
 }

 .galimg a:hover:after {
  opacity: 1;
 }

 .card-img-overlay {
   z-index: 2;
 }

 .items {
  float:left;
  position: relative;
}

.item {
  display:block;
}

.info {
  position: absolute;
  top:26px;
  display:none;
  width:500px;
  z-index: 100;
}

.items:hover .info {
  display:block;
}
// .container .row {
//   padding-top: 60px;
// }

.fil0 {
  fill:#f05f40;
}

svg path{
  fill:none;
  stroke: #f05f40;
  stroke-width:8px;
  stroke-dasharray: 600;
  stroke-dashoffset: 100;
  opacity: 1;
  animation: 5s text-outline infinite alternate;
}

@keyframes text-outline{
  from{
    stroke-dashoffset: 600;
  }
  to{
    stroke-dashoffset: 0;
  }
}

.img-thumbnail {
  width: 200px;
  margin-right:10px;
  margin-top:6px;
}

// Стили для блога
.blog {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.blog h1 {
  font-size: 3rem;
}

.blog h1 a:hover{
  text-decoration: none;
}

.container .row {
  padding-top: 0px;
}

.circles p {
  // background-color: #fff;
  display: inline;
  position: absolute;
  left: 20px;
  bottom:0px;
  height: 20px;
}

.circles a {
  color:#fff;
}

.circles a:hover {
  color:#ee4b28;
  text-decoration: none
}


.social i {
  padding-right: 20px;
  padding-bottom: 32px;
  font-size: 3rem;
  color: #F05F40;
}

.social a:hover i {
  color:#ee4b28;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  // width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  white-space: nowrap;


  transition: .5s ease;
  opacity: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}